<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="icon" href="/images/weather.png">
  <title>About</title>
</head>

<body>
  <div class="main-content">
    {{>header}}
    <image class="portrait" src="/images/hellothere.jpg" />
  </div>
  {{>footer}}
</body>

</html>